
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
    <div> 
        <div>
            @using (Html.BeginForm("Show", "Schedule", FormMethod.Get))
            {
                @:Расписание на
                <select name="month">
                    <option value="1">январь</option>
                    <option value="2">февраль</option>
                    <option value="3">март</option>
                    <option value="4">апрель</option>
                    <option value="5">май</option>
                    <option value="6">июнь</option>
                    <option value="7">июль</option>
                    <option value="8">август</option>
                    <option value="9">сентябрь</option>
                    <option value="10">октябрь</option>
                    <option value="11">ноябрь</option>
                    <option value="12">декабрь</option>
                </select>
                @:для ресторана
                <select name="restaurantId">
                    @foreach (Restaurants.Models.Restaurant restaurant in ViewBag.Restaurants)
                    {
                        <option value="@restaurant.Id">@restaurant.Id</option>
                    }
                </select>
                <input name="request" type="submit" value="Составить">
                <input name="request" type="submit" value="Показать">
            }
        </div>
    </div>
</body>
</html>
