
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("EmployeeEditor", "Employees", FormMethod.Get))
        {
            <input type="submit" value="Edit cooks" />
        }
    </div>
    <div>
        @using (Html.BeginForm("ScheduleEditor", "Schedule", FormMethod.Get))
        {
            <input type="submit" value="Schedule" />
        }
    </div>
</body>
</html>
