
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/header.css" />
    <link rel="stylesheet" href="~/Content/css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <table id="header">
        <tr>
            <td style="text-align: right">
                @using (Html.BeginForm("EmployeeEditor", "Employees", FormMethod.Get))
                {
                    <input class="headerButton" style="width: 200px" type="submit" value="Информация о поварах" />
                }
            </td>
            <td style="text-align: left">
                @using (Html.BeginForm("Menu", "Schedule", FormMethod.Get))
                {
                    <input class="headerButton" style="width: 120px" type="submit" value="Расписание" />
                }
            </td>
        </tr>
    </table>
    <table style="width: 100%; margin-top: 150px">
        <tr>
            <td style="text-align: center;">
                <img src="~/Content/word-art.gif" width="800" height="300" />
            </td>
        </tr>
    </table> 
</body>
</html>
