table {
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
}


tr {
    padding: 0;
}


th {
    height: 40px;
    font-weight: normal;
    padding: 0;
}


td {
    height: 78px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F5F5F5;
}


.dummy {
    background: none;
    border: none;
    width: 9%;
}


#employees {
    margin: auto; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


#errorBar {
    visibility: hidden;
    color: #AA3333;
}


#errorBar td {
    height: 0;
    background-color: #FF9999;
    border: none;
}


#addButton {
    width: 100px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #999999;
    background-color: #F6F6F6;
    color: #555555;
    font-size: 12px;
}


#addButton:active {
    background-color: white;
    outline-width: 0;
}


.editButton {
    width: 100px;
    height: 20px;
    margin: 3px;
    background: none;
    color: #444444;
    font-size: 12px;
    font-weight: 600;  
    visibility: hidden;
}


.editButton:hover, #addButton:hover {
    text-decoration: underline;  
}


.editButton:active {
    outline-width: 0;
    color: #888888;
}


.editButton:focus, #addButton:focus {
    outline-width: 0;
}


.specialization {
    height: 15px;
    min-width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    background-color: #E6E6E6;
}


#hiddenEditRow {
    display: none;
}


input[type=text] {
    width: 130px;
}


input, select {
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}


input:focus, select:focus {
    outline: none;
}